NODE_ENV=development
PORT=3000
NGINX_PORT=8080
POSTGRES_DB=example_dev
POSTGRES_USER=example
POSTGRES_PASSWORD=example_dev_password
POSTGRES_PORT=5434
DATABASE_URL=postgresql://example:example_dev_password@localhost:5434/example_dev?schema=public
DATABASE_URL_DOCKER=postgresql://example:example_dev_password@db:5432/example_dev?schema=public